# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradle/wrapper/*
!profiling/stage2/*
!profiling/stage3/*
!profiling/stage4/r1k/*
!profiling/stage4/r5k/*
!profiling/stage4/r10k/*
!profiling/stage4/r30k/*
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml

# ...even if they are in subdirectories
!*/
